<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !leavename.valid }">
            <label for="leavename">Leave Name</label>
            <input type="text" class="form-control" name="leavename" [(ngModel)]="model.leavename" #leavename="ngModel" required />
            <div *ngIf="f.submitted && !leavename.valid" class="help-block">Leave Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !totalLeave.valid }">
            <label for="totalLeave">Total Leaves Allowed</label>
            <input type="text" class="form-control" name="totalLeave" [(ngModel)]="model.totalLeave" #totalLeave="ngModel" required />
            <div *ngIf="f.submitted && !totalLeave.valid" class="help-block">Total no of Leaves are required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !minLeave.valid }">
            <label for="minLeave">Min Allowed Leave</label>
            <input type="text" class="form-control" name="minLeave" [(ngModel)]="model.minLeave" #minLeave="ngModel" required />
            <div *ngIf="f.submitted && !minLeave.valid" class="help-block">Min leaves are required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !maxLeave.valid }">
            <label for="maxLeave">Max allowed Leave</label>
            <input type="text" class="form-control" name="maxLeave" [(ngModel)]="model.maxLeave" #maxLeave="ngModel" required />
            <div *ngIf="f.submitted && !maxLeave.valid" class="help-block">Max leaves are required</div>
        </div>


         
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
            <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
        </div>
    </form>
</div>

